@font-face {
  font-family: "iconfont"; /* Project id 2649840 */
  src: url('iconfont.woff2?t=1625365878899') format('woff2'),
       url('iconfont.woff?t=1625365878899') format('woff'),
       url('iconfont.ttf?t=1625365878899') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-user:before {
  content: "\e63c";
}

.icon-password:before {
  content: "\e82b";
}

